/* join.component.css */

.entered-details {
    background-color: #f5f5f5;
    padding: 30px;
    border: 2px solid #c48f49;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.detail-item {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.4;
}

.detail-item strong {
    color: #c48f49;
}